*{
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}
/* .menu-container {
    position: relative;
}

.menu-bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
}
.menu-button i{
    font-size: 20px;
    color: black;
} */

header{
    position: fixed;
    z-index: 1;
    height: 60px;
    width: 100%;
    background-color: #042544;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-button{
    color: white;
    margin-left: 15px;
    font-size: 30px;
    display: none;
}
.logo{
    display: inline-block;
    width:15%;
    height:90%;
    margin-left: 15px;
}
header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 60%;
}
header ul li{
    list-style-type: none;
    display: inline-block;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 5px;
}
header ul li a:hover{
    background-color: #041d35;
    color: white;
    border-radius: 5px;
}
.button a{
    background-color: white;
    color: #0C5888;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    
}
.hero{
    position: relative;
    height: 92vh;
    width: 100%;
    background-image: url("images/bg_cover.jpg");
    background-size: cover;
    
}
.menu {
    display: none;
    position: fixed;
    top: 60px;
    z-index: 11;
    background-color: #042544;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}

.menu.active {
    display: block;
}

.menu_item {
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
}

.menu_item:hover {
    background-color: #041d35;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h1{
    text-align: center
}
.container p{
    padding: 0 15px;
    text-align: center;
}
.container a{
    background-color: white;
    color: #0C5888;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    padding: 2px;
    
}
.committee{
    position: relative;
    height: 65vh;
    width: 100%;
    border: 1 px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.committee h1{
    color: #042544;
    text-align: center;
}
.scroll{
    overflow-x: auto;
    white-space: nowrap;
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;

}
.scroll .items{
    box-shadow: 3px 3px 10px #042544;
    height: 70%;
    width: 35%;
    min-width: 300px;
    border-radius: 5%;
    display: inline-block;
    margin-left: 25px;
    
}
.scroll .items .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.items .container img{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 50%;
}
.items .container h2{
    color: #0C5888;
    padding: 0 20px;
}
.items .container p{
    color: #042544;
    padding: 0  10px;
}
.items .container .fa-brands{
    color: #0C5888;
    margin: 5px 10px;
    font-size: 24px;
}
.societies{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.societies h1{
    color: #042544;
}
.societies_box{
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    column-gap: 6%;
    row-gap: 50px;
    width: 98%;
}
.societies_box .container{
    box-shadow: 3px 3px 10px #042544;
    border-radius: 5%;
    height: 65vh;
}
.societies_box .container img{
    width: 60%;
    object-fit: fill;
    height: 40%;
}
.societies_box .container h2{
    color: #0C5888;
    text-align: center;
}
.societies_box .container p{
    color: #042544;
    text-align: justify;
}
.societies_box .container a{
    background-color: #0C5888;
    color: white;
    margin-bottom: 5px;
}
footer{
    position: relative;
    margin-top: 20px;
    background-color: #042544;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot_container{
    width: 95%;
    display: flex;
    
}
.foot_container .items{
    flex: 1;
}

.foot_container .items h2{
    color: #12CAD9;
    
}
.foot_container .items ul{
    list-style-type: none;
    
}
.foot_container .items a{
    color: white;
    text-decoration: none;
    
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.copyright img{
    width:25%;
    height:100%;
}
.copyrights p{
    text-align: center;
}
.copyright .fa-brands{
    color: white;
    margin: 10px 20px;
    font-size: 24px;
}
@media(max-width:700px){
    .hero .container p{
        text-align: justify;
    }
    .societies_box{
        grid-template-columns: 90%;
    }
    .societies_box .container{
        height: 60vh;
    }
    .menu-button{
        display: inline;
    }
    header ul{
        display: none;
    }
}